@import url('https://fonts.googleapis.com/css?family=Shrikhand|Bungee+Shade|Ubuntu');
body {

}

html,
body,
.jumbotron {
    height: auto;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    line-height: 36px;
    font-size: 18px;
    color: #7f8c8d;
}
/* 
.jumbotron-fluid {

}
.main-title {

} */

.question-screen {
    padding-top: 92px;
    display: none;
}

.timer {
    display: none;
}

.navbar-light {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(52, 73, 94, .5);
    color:#fff;
}

.title {
    font-family: 'Bungee Shade', cursive;
    font-size: 28px;
    line-height: 56px;
}

h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
    line-height: 56px;
}

.guess-beer {
    color: #34495e;
}
.btn-success {
    background: #2ecc71;
}
